<h1>Editing Book</h1>

<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book, url:update_book_path(@book.id), method: :patch do |f| %>

 <div class="label">
  <div class="label-name">Title</div>
    <%= f.text_field :title %>
 </div>

 <div class="label">
  <div class="label-name">Body</div>
    <%= f.text_area :body %>
 </div>

  <%= f.submit 'Update Book',class:"put" %>


<div class="botan">
    <%= link_to 'Show', "/books/#{@book.id}" %>
  <div class="sp">|</div>

    <%= link_to "Back",  '/books' %>
</div>

<% end %>